

  .bg-blue-tint {
    background-color: #f0f5ff; 
  }
  
  .shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  

  .header-container {
    background-color: #f0f0f0;
    width: 100%; 
    min-height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .header-text {
    font-weight: bold;
  }
  
  
  
  .button-group {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px; 
    border: none;
    border-radius: 0;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn:last-child {
    margin-right: 0; 
  }
  
  .btn-blue {
    background-color: #007bff; 
    color: #fff;
  }
  
  .btn-dark-blue {
    background-color: #0056b3; 
    color: #fff;
  }
  
  .btn-light-blue {
    background-color: #6cace4; 
    color: #fff;
  }



  
  /* .backend {
    width: 20%;
    height: 300px;
  }
      
    .flow {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  

    .right {
      border-left: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 30%;
    height: 400px;

  }
  .left {
    border-left: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
  height: 400px;

}

  .yeah {
    display: flex;
    margin: 0;
        padding: 0;
        height: 100%;
  } */

  .sample-articles {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, skyblue, dodgerblue); /* Amazing blue gradient */
    color: white; /* Text color to contrast with the background */
    text-align: center; /* Center align the text */
    line-height: 50px; /* Center align the text vertically */
    font-weight: bold; /* Add some boldness to the text */
  }
  

  .samplee {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    border-top: 1px solid #007bff;
    width: 80%;
    margin: 10px 0;
}
img {
    max-width: 50%;
    max-height: 50%;
    display: block;
}





.bg {
  margin-top: -90px;
}